<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<!-- redirection des logs vers la sortir Console Standard -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<!-- redirection vers un fichier -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/app.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
		<!-- redirection vers un fichier -->
	<appender name="FILEOFF" class="ch.qos.logback.core.FileAppender">
		<file>log/logOFF.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!-- politique de log pour les classes du package dev.console -->
	<logger name="Diginamic.openFoodFactTp" level="INFO">
		<appender-ref ref="FILEOFF" />
	</logger>

	<!-- politique de log pour les classes du package dev.console -->
	<logger name="Diginamic.demo_JDBC" level="ERROR">
		<appender-ref ref="FILE" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

</configuration>